body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
  font-family: "Merriweather", serif;
  width: 65%;
  margin: auto;
  color: #40514e;
}

.bottom-container p {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding-top: 20px;
}

.middle-container {
  margin: 70px 0;
}

.top-container h1 {
  margin: 20px;
}

h1 {
  font-size: 5.625rem;
  margin: 3.125rem auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  bottom: 37%;
  left: 23%;
}

.top-cloud {
  position: absolute;
  top: 10%;
  right: 23%;
}

span {
  text-decoration: underline;
}

a:link,
a:visited {
  color: #11999e;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

.skill-row {
  text-align: left;
  clear: both;
  width: 50%;
  margin: 50px auto;
}

/* 25% of the parent image */
/* float to the left of the parent element */
.flower {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.woman {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  border: none;
  border-top: 6px dotted #c3e4e4;
  width: 5%;
  margin: 50px auto;
}

.profile {
  width: 50%;
  margin: 0px auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 40px 0 30px;
  margin-top: 70px;
}

.contact-message {
  width: 50%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
